/* CSS Reset */
#element { margin:0; padding:0; font-size:100%; line-height:1; }

.reset {
    border-width: 1px;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 20px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: gray;
}

body {
    font-family: 'ProximaNova-Regular','HelveticaNeue','Helvetica Neue','HelveticaNeueRoman','HelveticaNeue-Roman','Helvetica Neue Roman','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial',sans-serif;
    width: 70%;
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 0;
}


/* ============== Overlay ============== */

.overlay {
    display: none;
    position: absolute;
    width: 70%;
    max-width: 1000px;
    height: 100%;
    background: rgba(100, 100, 100, 0.4);
}

.overlay-detail {
    width: 80%;
    max-width: 800px;
    height: 80%;
    background: #ffffff;
    opacity: 100%;
    margin: 10% auto;
    border-radius: 10px;
}


/* ================ Top ================ */

.top {
    height: 130px;
    display: flex;
    background: whitesmoke;
    border-bottom: 1px solid gray;
}

.top-logo__wrapper {
    width: 200px;
}

.top-logo__placeholder {
    font-size: 3em;
    margin: auto;
}

.top-search__wrapper {
    width: 600px;
    flex-wrap: wrap;
    min-width: 400px;
}

.top-searchBox {
    height: 48px;
    max-width: 500px;
    min-width: 300px;
    margin: auto 0 auto auto;
    border: 1px solid gray;
    border-radius: 7px 0 0 7px;
    flex-grow: 1;
    font-size: 1em;
}

.top-searchButton {
    height: 50px;
    width: 90px;
    margin: auto auto auto 0;
    border: 1px solid gray;
    border-left-width: 0;
    border-radius: 0 7px 7px 0;
    font-size: 1em;
}

.top-login_wrapper {
    width: 200px;
}

.top-loginButton {
    height: 50px;
    width: 100px;
    margin: auto;
    font-size: 1em;
    border: 1px solid gray;
    border-radius: 7px;
}



/* =====meow======= Cat =======meow===== */

.catNav {
    height: 50px;
    display: flex;
    background: #E8E8E8;
}

.catNav__borderAdjust {
    height: 52px;
}

.catNav__cat--hover {
    background: lightgray;
    width: 168px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.catNav__text {
    margin: auto;
}



/* ============== dropdown ============== */
.catDropdown {
    position: absolute;
    top: 130px;
    max-width: 782px;
    min-width: 440px;
    margin: auto 0 auto 218px;
    display: none;
    border-top: 1px solid gray;
    background: lightgray;
}

.catDropdown__bwrapper{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 75%;
}

.catDropdown__description {
    width: 25%;
    height: 100%;
    margin: 20px;
}

.catDropdown__bucket {
    margin: 20px;
    min-width: 25%;
}

.catDropdown__text {
    margin-bottom: 20px;
}



/* ============== sidebar ============== */

.sidebar {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: whitesmoke;
}

.sidebar-catNav__wrapper {
    height: 200px;
    display: flex;
    flex-wrap: wrap;

}

.sidebar-catNav__cat {
    width: 220px;
}

.sidebar-catNav__cat--hover {
    background: lightgray;
}

.sidebar-catNav__text {
    margin: auto;
}


.sidebar-refine__wrapper {
    min-width: 180px;
    margin: 10px 20px;
}

.sidebar-refine__list {
    margin: 10px 0 0 20px;
}

.sidebar-refine__item {
    list-style-type: none;
    line-height: 1.5em;
}

.sidebar-divisions__division--selected {
    background: lightgray;
}


/* =============== refine =============== */

.sidebar-refine__cat {
    margin: 20px auto 5px;
}




/* =============== result =============== */

.result {
    width: calc(100% - 260px);
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-description__wrapper {
    width: 100%;
}

.result-description__text {
    margin: 20px 0 0 20px;
}

.result-block {
    width: 200px;
    height: 250px;
    margin: 20px;
    border: 1px solid gray;
    border-radius: 7px;
}

.result-block-thumbnail__wrapper {
    text-align: center;
    height: 160px;
    margin: 20px 0 10px;
}

.result-block-thumbnail__img {
    max-width: 160px;
    max-height: 160px;
}

.result-block-name__wrapper {
    text-align: center;
    margin: 10px;
}

.result-block-name__link {
    max-width: 160px;
}

.result-pages__list {
    display: flex;
    margin: 10px auto;
}

.result-pages__item {
    display: inline;
    min-width: 25px;
}

#test-block {
    color: maroon;
    margin: 10px;
}


/* =============== Footer =============== */

.footer {
    height: 100px;
    width: 1000px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}