body {
    font-family: 'ProximaNova-Regular','HelveticaNeue','Helvetica Neue','HelveticaNeueRoman','HelveticaNeue-Roman','Helvetica Neue Roman','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial',sans-serif;
    width: 70%;
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
}


ul {
    list-style-type: none;
}


nav {
    height: 20px;
}

.nav-li {
    float: right;
}

.nav-li-a {
    display: block;
    width: 60px;
    padding: auto;
}


.search {
    height: 30px;
}

.search-bar {
    max-width: 600px;
    min-width: 500px;
    margin: auto;
    display: flex;
}

#search-type {
    width: 100px;
}

#search-form {
    width: calc(100% - 100px);
}

#search-box {
    width: calc(100% - 60px);
}

#search-submit {
    width: 50px;
}

#suggestions {
    position: relative;
    width: 500px;
    margin: auto;
    background: white;
}


