{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block header %}About{% endblock %}

{% block content %}

<div class="details">
    <div id="backButton">
        <a href="javascript:history.back()">
            <img src="{{ url_for('static', filename='assets/back_icon.png') }}"
             style="width: 40px"
             alt="Back Button">
        </a>
    </div>


    <h1>About</h1>

    <div class="details-full details-container">
        <div>
            <strong>Finished: </strong>
            <ul>
                <li>Search by category</li>
                <li>Search by keywords</li>
                <li>Equipment details (spec, locations, images...)</li>
                <li>Equipment manager (aka User) details</li>
                <li>Edit existing equipments</li>
                <li>Add new equipments</li>
                <li>...</li>
            </ul>            
        </div>

        <div>
            <strong>Update (May 13):</strong>
            <ul>
                <li>Bugs Chasing</li>
                <li>UI Revamp</li>
                <li>Footer</li>
                <li>Equipment Location and Map Display</li>
                <li>Equipment Images Slideshow</li>
            </ul>
        </div>

        <div>
            <strong>Todo: </strong>
            <ul>
                <li>Help page: user manual, lab manager upload guide</li>
                
                <li>More bug fixes...</li>
                <li>User Registration</li>
                <li>Terms of use, help page...</li>
                <li>Adds custom support for category</li>
                <li>Mobile UI</li>
                <li>Add feedback options</li>
                <li>Documentations</li>
                <li>...</li>
            </ul>
        </div>

    </div>


</div>

{% endblock %}