<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Title</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>

        <header>
            {% block header %}{% endblock %}
        </header>

        <section>
            {% block content %}
            {% endblock %}
        </section>

    </body>

</html>