<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Demo - IME Inventory DB</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
    <script src="{{ url_for('static', filename='demo.js') }}"></script>
    {% block script %}{% endblock %}
</head>
<body>

<section class="top">
    <div class=" top top-logo__wrapper">
        <p class="top-logo__placeholder">Logo</p>
    </div>

    <div class="top top-search__wrapper">
        <label for="top-searchBox" hidden>Search Box</label>
    <input type="text" class="reset top-searchBox" id="top-searchBox" />
    <button class="reset top-searchButton">Search</button>
    </div>

    <div class="top top-login_wrapper">
        <button class="top-loginButton">Login</button>
    </div>

</section>


<section class="catNav catNav__borderAdjust">
    <div class="catNav catNav__wrapper">
        <div class="catNav catNav__cat" id="cat1"><p class="catNav__text">Campus</p></div>
        <div class="catNav catNav__cat" id="cat2"><p class="catNav__text">Material</p></div>
        <div class="catNav catNav__cat" id="cat3"><p class="catNav__text">Characterization</p></div>
        <div class="catNav catNav__cat" id="cat4"><p class="catNav__text">Manufacturing</p></div>
        <div class="catNav catNav__cat" id="cat5"><p class="catNav__text">Other Categories</p></div>
    </div>
</section>

<section class="catDropdown" id="cat1Dropdown">
    <div class="catDropdown__bucket">
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6<br>
        <input type="radio" class="catDropdown__item">Choice 7
    </div>
</section>

<section class="catDropdown" id="cat2Dropdown">

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 2</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 3</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4
    </div>
</section>

<section class="catDropdown" id="cat3Dropdown">
    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6<br>
        <input type="radio" class="catDropdown__item">Choice 7
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6<br>
        <input type="radio" class="catDropdown__item">Choice 7
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 2</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 3</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 4</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2
    </div>
</section>

<section class="catDropdown" id="cat4Dropdown">
    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6<br>
        <input type="radio" class="catDropdown__item">Choice 7
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5
    </div>


    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 3</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 4</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2
    </div>
</section>

<section class="catDropdown" id="cat5Dropdown">
    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6<br>
        <input type="radio" class="catDropdown__item">Choice 7
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 1</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6<br>
        <input type="radio" class="catDropdown__item">Choice 7
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 2</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 3</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2<br>
        <input type="radio" class="catDropdown__item">Choice 3<br>
        <input type="radio" class="catDropdown__item">Choice 4<br>
        <input type="radio" class="catDropdown__item">Choice 5<br>
        <input type="radio" class="catDropdown__item">Choice 6
    </div>

    <div class="catDropdown__bucket">
        <p class="catDropdown__text">Bucket 4</p>
        <input type="radio" class="catDropdown__item">Choice 1<br>
        <input type="radio" class="catDropdown__item">Choice 2
    </div>
</section>


<section class="sidebar">
    <div class="sidebar-divisions__wrapper">
        <div class="sidebar-divisions__division division--top sidebar-divisions__division--selected" id="all">
            <a class="sidebar-divisions__text" href="#">Search All Divisions</a>
        </div>
        <div class="sidebar-divisions__division" id="division1">
            <a class="sidebar-divisions__text" href="#">SMCF</a></div>
        <div class="sidebar-divisions__division border--right" id="division2">
            <a class="sidebar-divisions__text" href="#">BSD</a></div>
        <div class="sidebar-divisions__division" id="division3">
            <a class="sidebar-divisions__text" href="#">Geosci</a></div>
        <div class="sidebar-divisions__division border--right" id="division4">
            <a class="sidebar-divisions__text" href="#">MRSEC</a></div>
        <div class="sidebar-divisions__division border--radius__left" id="division5">
            <a class="sidebar-divisions__text" href="#">PNF</a></div>
        <div class="sidebar-divisions__division border--right border--radius__right" id="division6">
            <a class="sidebar-divisions__text" href="#">Other</a></div>
    </div>

    <div class="sidebar-refine__wrapper">
        <p class="sidebar-refine__cat">Searching in: SMCF</p>

        <p class="sidebar-refine__cat">Campus</p>
        <ul class="sidebar-refine__list">
            <li class="sidebar-refine__item">Choice 4</li>
            <li class="sidebar-refine__item">Choice 5</li>
        </ul>

        <p class="sidebar-refine__cat">Material</p>
        <ul class="sidebar-refine__list">
            <li class="sidebar-refine__item">Bucket 1: Choice 4</li>
            <li class="sidebar-refine__item">Bucket 3: Choice 5</li>
            <li class="sidebar-refine__item">Bucket 3: Choice 4</li>
            <li class="sidebar-refine__item">Bucket 5: Choice 1</li>
        </ul>

    </div>
</section>

<section class="result">
    <div class="result-description__wrapper">
        <p class="result-description__text">Search results for</p>
    </div>
    <div class="result-block"></div>
    <div class="result-block"></div>
    <div class="result-block"></div>
    <div class="result-block"></div>
    <div class="result-block"><p  id="test-block"></p></div>
    <div class="result-block"></div>
    <div class="result-block"></div>
    <div class="result-block"></div>
    <div class="result-block"></div>

    <div class="result-pages__wrapper">
        <ul class="result-pages__list">
            <li class="result-pages__item">1</li>
            <li class="result-pages__item">2</li>
            <li class="result-pages__item">3</li>
            <li class="result-pages__item">4</li>
            <li class="result-pages__item">5</li>
            <li class="result-pages__item">...</li>
            <li class="result-pages__item">9</li>
        </ul>
    </div>
</section>

<section class="footer">
    <div class="footer-placeholder">Footer</div>
</section>

</body>
</html>