<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - IME Inventory DB</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.css') }}">
    <script src="{{ url_for('static', filename='demo.js') }}"></script>
    {% block script %}{% endblock %}
</head>
<body>

<section class="top">
    <div class=" top top-logo__wrapper">
        <p class="top-logo__placeholder">Logo</p>
    </div>

    <div class="top top-search__wrapper">
        <label for="top-searchBox" hidden>Search Box</label>
    <input type="text" class="reset top-searchBox" id="top-searchBox" />
    <button class="reset top-searchButton">Search</button>
    </div>

    <div class="top top-login_wrapper">
        <button class="top-loginButton">Login</button>
    </div>

</section>


<section class="catNav">
    <div class="catNav catNav__wrapper">
        <div class="catNav__cat">Category</div>
        <div class="catNav__cat">Category</div>
        <div class="catNav__cat">Category</div>
        <div class="catNav__cat">Category</div>
        <div class="catNav__cat">Category</div>
    </div>
</section>

<section class="catDropdown"></section>


<section class="sidebar">
    <div class="sidebar-divisions__wrapper">
        <p class="sidebar-divisions__division">All Divisions</p>
        <p class="sidebar-divisions__division">Division 1</p>
        <p class="sidebar-divisions__division">Division 2</p>
        <p class="sidebar-divisions__division">Division 3</p>
        <p class="sidebar-divisions__division">Division 4</p>
    </div>

    <div class="sidebar-refine__wrapper">
        <p class="sidebar-refine__cat">Tags</p>
        <ul class="sidebar-refine__list">
            <li class="sidebar-refine__item">tag1</li>
            <li class="sidebar-refine__item">tag2</li>
            <li class="sidebar-refine__item">tag3</li>
            <li class="sidebar-refine__item">tag4</li>
            <li class="sidebar-refine__item">tag5</li>
            <li class="sidebar-refine__item">tag6</li>
            <li class="sidebar-refine__item">tag7</li>
        </ul>

    </div>
</section>

<section class="result">
    <div class="result-block">Result</div>
    <div class="result-block">Result</div>
    <div class="result-block">Result</div>
    <div class="result-block">Result</div>
</section>

<section class="footer">
    <div class="footer-placeholder">Footer</div>
</section>

</body>
</html>