{% extends 'base.html' %}

{% block header %}
    {% block title %}{{ result['name'] }}{% endblock %}
{% endblock %}

{% block content %}
<div class="details">
    <h1 class="details-name">{{ result['name'] }}</h1>

    <div class="details-overview">{{ result['overview'] }}</div>

    <div class="details-lrow">
        {% if result['features'] %}
            <div class="details-block">
                <strong>Key Features:</strong>
                <ul class="details-ul">
                    {% for feature in result['features'] %}
                        <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['applications'] %}
            <div class="details-block">
                <strong>Key Applications:</strong>
                <ul class="details-ul">
                    {% for application in result['applications'] %}
                        <li>{{ application }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['documentation'] %}
            <div class="details-block">
            <strong>Documentation:</strong>
                <a href="{{ result['documentation'] }}">
                    {{ result['name'] }}
                </a>
            </div>
        {% endif %}

        <div class="details-block">
            <strong>Contact:</strong>
                <ul>
                    <li><a href="{{ result['contact']['email_link'] }}">{{ result['contact']['name'] }}</a></li>
                    <li>{{ result['contact']['title'] }}</li>
                    {% if result['contact']['tel'] %}<li>{{ result['contact']['tel']    }}</li>{% endif %}
                </ul>
        </div>

        {% if result['fee'] %}
            <div class="details-block">Fee: {{ result['fee'] }}</div>
        {% endif %}
    </div>

    <div class="details-rrow">

        {% if result['images'] %}
        <div class="details-block details-img__wrapper">
            <img class="details-img__img"
                 src="{{ result['images'][0]['link'] }}"
                 alt="{{ result['images'][0]['description'] }}">
        </div>
        {% endif %}

        <div class="details-block">
            <iframe
                width="400"
                height="300"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_MAP_API_KEY}}&q=pnf+uchicago">
            </iframe>
        </div>

    </div>







</div>
{% endblock %}




