{% extends 'base.html' %}

{% block header %}
    {% block title %}{{ result['name'] }}{% endblock %}
{% endblock %}

{% block content %}
<div class="details">
    <h1 class="details-name">{{ result['name'] }}</h1>

    <div class="details-overview">Overview: {{ result['overview'] }}</div>

    <div class="details-lrow">
        {% if result['features'] %}
            <div class="details-block">
                Key Features:
                <ul class="details-features">
                    {% for feature in result['features'] %}
                        <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['applications'] %}
            <div class="details-block">
                Key Applications:
                <ul class="details-applications">
                    {% for application in result['applications'] %}
                        <li>{{ application }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['documentation'] %}
            <div class="details-block">
            Documentation:
                <a href="{{ result['documentation']['href'] }}">
                    {{ result['documentation']['name'] }}
                </a>
            </div>
        {% endif %}
    </div>

    <div class="details-rrow">
        {% if result['images'] %}
        <div class="details-block">
            <img src="{{ result['images'][0]['link'] }}"
                  alt="{{ result['images'][0]['description'] }}">
        </div>
        {% endif %}

        <div class="details-block">
            <iframe
                width="600"
                height="450"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_MAP_API_KEY}}&q=pnf+uchicago">
            </iframe>
        </div>

        <div class="details-block">
            Contact:
                <ul>
                    <li><a href="{{ result['contact']['email_link'] }}">{{ result['contact']['name'] }}</a></li>
                    <li>{{ result['contact']['title'] }}</li>
                    {% if result['contact']['tel'] %}<li>{{ result['contact']['tel']    }}</li>{% endif %}
                </ul>
        </div>

        {% if result['fee'] %}
            <div class="details-block">Fee: {{ result['fee'] }}</div>
        {% endif %}


    </div>







</div>
{% endblock %}




