{#

{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ result['name'] }}{% endblock %}</h1>
{% endblock %}


{% block content %}
    {% if logged_in %}
        <p><a href="{{ url_for('edit.edit', obj_id=result['_id']) }}">Edit</a></p>
    {% endif %}
    <div class="document">

        <div class="document-block document-name">{{ result['name'] }}</div>

        <div class="document-block document-overview">Overview: {{ result['overview'] }}</div>

        {% if result['key_features'] %}
            <div class="document-block">
                Key Features:
                <ul class="document-keyFeatures">
                    {% for feature in result['key_features'] %}
                        <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['key_applications'] %}
            <div class="document-block">
                Key Applications:
                <ul class="document-keyApplications">
                    {% for feature in result['key_applications'] %}
                        <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['general_documentation'] %}
            <div class="document-block document-documentation">
            Documentation:
                <a href="{{ result['general_documentation']['href'] }}">
                    {{ result['general_documentation']['name'] }}
                </a>
            </div>
        {% endif %}

        {% if result['tags'] %}
            <div>Tags: {{ result['tags'] }}</div>
        {% endif %}

        {% if result['image'] %}
            <a href="{{ url_for('search.full_images', image=result['image']) }}">
                <img src="{{ url_for('static', filename='user_uploads/thumbnails/'+result['image']) }}"
                     alt="{{ result['name'] }}">
            </a>
        {% endif %}

    </div>
{% endblock %}

#}

<div class="document">

        <div class="document-block document-name">{{ result['name'] }}</div>

        <div class="document-block document-overview">Overview: {{ result['overview'] }}</div>

        {% if result['features'] %}
            <div class="document-block">
                Key Features:
                <ul class="document-keyFeatures">
                    {% for feature in result['features'] %}
                        <li>{{ feature }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['applications'] %}
            <div class="document-block">
                Key Applications:
                <ul class="document-keyApplications">
                    {% for application in result['applications'] %}
                        <li>{{ application }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if result['documentation'] %}
            <div class="document-block document-documentation">
            Documentation:
                <a href="{{ result['documentation']['href'] }}">
                    {{ result['documentation']['name'] }}
                </a>
            </div>
        {% endif %}

        {% if result['image'] %}
        {% endif %}

    </div>




