{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block header %}Developer's Log{% endblock %}

{% block content %}

<div class="details">
    <div id="backButton">
        <a href="javascript:history.back()">
            <img src="{{ url_for('static', filename='assets/back_icon.png') }}"
             style="width: 40px"
             alt="Back Button">
        </a>
    </div>

    <h1>Developer's Log</h1>


    <div class="details-full details-container">
        <div>
            <h2>Completed Features</h2>
            <ul>
                <li>Search by category</li>
                <li>Search by keywords</li>
                <li>Equipment details (spec, locations, images...)</li>
                <li>Equipment manager (aka User) details</li>
                <li>Edit existing equipments</li>
                <li>Add new equipments</li>
                <li>...</li>
            </ul>            
        </div>

        <div>
            <h2>Update (May 13)</h2>
            <ul>
                <li>Bugs Chasing</li>
                <li>UI Revamp</li>
                <li>Footer</li>
                <li>Equipment Location and Map Display</li>
                <li>Equipment Images Slideshow</li>
            </ul>
        </div>

        <div>
            <h2>Update (Jun 21)</h2>
            <ul>
                <li>Bugs Chasing</li>
                <li>Fixed search functions</li>
                <li>Help page</li>
                <li>Feedback button</li>
                <li>Customizable categories</li>
            </ul>
        </div>

        <div>
            <h2>Todo</h2>
            <ul>
                <li>Help page: user manual, lab manager upload guide</li>
                <li>With these databases, we should be welcoming of input from users. It could be that we didn’t know that a particular machine or technique can be used with a particular material, or vice-versa. Can you add something that allows users to suggest changes or modifications on each page?</li>
                <li>More bug fixes...</li>
                <li>User Registration</li>
                <li>Adds custom support for category</li>
                <li>Mobile UI</li>
                <li>Add feedback options</li>
                <li>Documentations</li>
                <li>...</li>
            </ul>
        </div>

    </div>


</div>

{% endblock %}