{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block header %}Developer's Log{% endblock %}

{% block content %}

<div class="details">
    <div id="backButton">
        <a href="javascript:history.back()">
            <img src="{{ url_for('static', filename='assets/back_icon.png') }}"
             style="width: 40px"
             alt="Back Button">
        </a>
    </div>

    <h1>Developer's Log</h1>


    <div class="details-full details-container">
        <div>
            <h2>Completed Features</h2>
            <ul>
                <li>Search by category</li>
                <li>Search by keywords</li>
                <li>Equipment details (spec, locations, images...)</li>
                <li>Equipment manager (aka User) details</li>
                <li>Edit existing equipments</li>
                <li>Add new equipments</li>
                <li>...</li>
            </ul>            
        </div>

        <div>
            <h2>Update May 13</h2>
            <ul>
                <li>Bugs Chasing</li>
                <li>UI Revamp</li>
                <li>Footer</li>
                <li>Equipment Location and Map Display</li>
                <li>Equipment Images Slideshow</li>
            </ul>
        </div>

        <div>
            <h2>Update Jun 21</h2>
            <ul>
                <li>Bugs Chasing</li>
                <li>Fixed search functions</li>
                <li>Help page</li>
                <li>Feedback button</li>
            </ul>
        </div>

        <div>
            <h2>Update Sep 29</h2>
            <ul>
                <li>Various bug fixes</li>
                <ul>
                    <li>Fixed new equipment database operation</li>
                    <li>Put categories in database and fixed dropdown</li>
                    <li>Fixed equipment deletion</li>
                    <li>Fixed feature and application dynamic input name</li>
                    <li>Fixed category selection interface</li>
                    <li>Removed test files from repository</li>
                </ul>
                <li>UI adjustment: navbar, equipment page, edit page, page number in search</li>
                <li>Help page: user system and equipment editing</li>
                <li>User registration system</li> 
                <li>Customizable categories</li>
                <li>Improved code documentations</li>
            </ul>
        </div>


        <div>
            <h2>Todo</h2>
            <ul>
                <li>Mobile UI</li>
                <li>Password retrieval function</li>
                <li>User information editing page</li>
                <li>Email confirmation system</li>
                <li>Hosting options/hostname</li>
                <li>Maintenance guide for future developers</li>
                <li>...</li>
            </ul>
        </div>

    </div>


</div>

{% endblock %}