{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ result['name'] }}{% endblock %}</h1>
{% endblock %}


{% block content %}
    {% if logged_in %}
    <p><a href="{{ url_for('edit.edit', obj_id=result['_id']) }}">Edit</a></p>
    {% endif %}
    <div>
        <ul>
            <li>{{ result['name'] }}</li>

            <li>Overview: {{ result['overview'] }}</li>

            {% if result['key_features'] %}
                <li>
                    Key Features:
                    <ul>
                        {% for feature in result['key_features'] %}
                            <li>{{ feature }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if result['key_applications'] %}
                <li>
                    Key Applications:
                    <ul>
                        {% for feature in result['key_applications'] %}
                            <li>{{ feature }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if result['general_documentation'] %}
                <li>
                    <a href="{{ result['general_documentation']['href'] }}">
                        {{ result['general_documentation']['name'] }}
                    </a>
                </li>
            {% endif %}

            {% if result['tags'] %}
                <li>Tags: {{ result['tags'] }}</li>
            {% endif %}

            {% if result['image'] %}
                <a href="{{ url_for('search.full_images', image=result['image']) }}">
                    <img src="{{ url_for('static', filename='user_uploads/thumbnails/'+result['image']) }}"
                         alt="{{ result['name'] }}">
                </a>
            {% endif %}

        </ul>
    </div>
{% endblock %}