{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
{% endblock %}


{% block header %}Edit{% endblock %}

{% block content %}

<form class="details">

    <div id="backButton">
        <a href="javascript:history.back()">
            <img src="{{ url_for('static', filename='assets/back_icon.png') }}"
             style="width: 40px"
             alt="Back Button">
        </a>
    </div>

    <h1>Edit</h1>


    <div class="details-full" id="edit-name">
        <strong>Name:</strong>
        <input type="text" name="name" value="{{ equipment['name'] }}"/>
    </div>

    <div class="details-full" id="edit-overview">
        <label for="edit-overview"><strong>Overview:</strong></label>
        <textarea type="text" name="overview">{{ equipment['overview'] }}</textarea>
    </div>


    <div class="details-full details-container">

        <div id="edit-feature">
            <strong>Key Features:</strong>
            <ul>
                {% for feature in equipment['features'] %}
                    <li>
                        <input type="text" name="features" value="{{ feature }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="edit-application">
            <strong>Key Applications:</strong>
            <ul>
                {% for application in equipment['applications'] %}
                    <li>
                        <input type="text" name="applications" value="{{ application }}"/>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id="edit-documentation">
            <strong>Link to Product Documentation:</strong>
            <input type="text" name="documentation" value="{{ equipment['documentation'] }}"/>
        </div>

        <div id="edit-contact">
            <strong>Contact:</strong>
            <ul style="list-style-type: none;">
                <li><p>Name: </p><input type="text" name="contact-name" value="{{ equipment['contact']['name'] }}"/></li>
                <li><p>Email: </p><input type="text" name="contact-email" value="{{ equipment['contact']['email_link'] }}"/></li>
                <li><p>Title: </p><input type="text" name="contact-title" value="{{ equipment['contact']['title'] }}"/></li>
                <li><p>Tel: </p><input type="text" name="contact-tel" value="{{ equipment['contact']['tel'] }}"/></li>
            </ul>
        </div>

        <div>
            <strong>Category: </strong>{{ cat }}
        </div>

        <div>Fee: {{ equipment['fee'] }}</div>


    </div>



    <div class="details-container">

        {% if equipment['images'] %}
        <div class="details-img">
            <img src="{{ equipment['images'][0]['link'] }}"
                alt="{{ equipment['images'][0]['description'] }}">
        </div>
        {% endif %}

        <!-- <div>
            <iframe
                width="400"
                height="300"
                style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_MAP_API_KEY}}&q=pnf+uchicago">
            </iframe>
        </div> -->

    </div>
   
</form>


{% endblock %}