{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='edit.js') }}"></script>
{% endblock %}




{% block content %}
    {% if not obj_id == 'new' %}
        <p><a href="{{ url_for('edit.delete', obj_id=obj_id) }}">Delete</a></p>
    {% endif %}

    <form action="/edit/{{ obj_id }}" method="post">

        <div id="editFields">
            {% if obj_id == 'new' %}
                Name: <input type="text" name="name"><br>
                Overview: <input class="field" type="text" name="overview">

                <div id="features">
                    <p>Key Features: </p>
                    <div id="feature1">
                        <input class="field" type="text" name="feature1">
                        <button class="delFieldButton" type="button" id="delFeature1">x</button>
                        <br>
                    </div>
                </div>
                <button type="button" class="addField" id="addFeature">+</button>

                <div id="applications">
                    <p>Key Applications:</p>
                    <div id="application1">
                        <input class="field" type="text" name="application1">
                        <button class="delFieldButton" type="button" id="delApplication1">x</button>
                    </div>
                </div>
                <button type="button" class="addField" id="addApplication">+</button>

                <div id="tags">
                    <p>Tags:</p>
                    <div class="tag1">
                        <input class="field" type="text" name="tag1">
                        <button class="delFieldButton" type="button" id="delTag1">x</button>
                    </div>
                </div>
                <button type="button" class="addField" id="addTag">+</button>

                <div id="documentation">
                    <p>Link to Documentation: <input class="field" type="text" name="documentation"></p>
                </div>

            {% else %}
                <p>Name: <input type="text" name="name" value="{{ result['name'] }}"></p>
                <p>Overview: <input class="field" type="text" name="overview" value="{{ result['overview'] }}"></p>

                <div id="features">
                    <p>Key Features: </p>
                    <div id="feature1">
                        <input class="field" type="text" name="feature1">
                        <button class="delFieldButton" type="button" id="delFeature1">x</button>
                        <br>
                    </div>
                </div>
                <button type="button" class="addField" id="addFeature">+</button>

                <div id="applications">
                    Key Applications:
                    <br>
                    <div id="application1">
                        <input class="field" type="text" name="application1">
                        <button class="delFieldButton" type="button" id="delApplication1">x</button>
                        <br>
                    </div>
                </div>
                <button type="button" class="addField" id="addApplication">+</button>

                <div id="tags">
                    Tags:
                    <div class="tag1">
                        <input class="field" type="text" name="tag1">
                        <button class="delFieldButton" type="button" id="delTag1">x</button>
                        <br>
                    </div>
                </div>
                <button type="button" class="addField" id="addTag">+</button>

                <div id="documentation">
                    Link to Documentation:
                    <input class="field" type="text" name="documentation"><br>
                </div>

{#                {% for key_value in result['data'] %}#}
{#                    <div id="editField{{ loop.index }}">#}
{#                        <input class="field" type="text" name="key{{ loop.index }}" value="{{ key_value[0] }}">:#}
{#                        <input class="field" type="text" name="value{{ loop.index }}" value="{{ key_value[1] }}">#}
{#                        <button class="delFieldButton" type="button" id="delField{{ loop.index }}">x</button>#}
{#                        <br>#}
{#                    </div>#}
{#                {% endfor %}#}
            {% endif %}
        </div>
        <br>

        <input type="submit" id="submitField" value="submit">
    </form>
{% endblock %}