{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
{% endblock %}

{% block script %}
<script defer src="{{ url_for('static', filename='js/equipment.js') }}"></script>
{% endblock %}

{% block header %}
    {% block title %}{{ equipment['name'] }}{% endblock %}
{% endblock %}

{% block content %}
<div class="details">

    <div id="backButton">
        <a href="javascript:history.back()">
            <img src="{{ url_for('static', filename='assets/back_icon.png') }}"
             style="width: 40px"
             alt="Back Button">
        </a>
    </div>

    <h1 class="details-full">{{ equipment['name'] }}</h1>

    <div class="details-full">
        <h2>Overview</h2>
        {{ equipment['overview'] }}
    </div>

    <div class="details-full divider"> </div>

    <div class="details-lrow details-container">
        {% if equipment['features'] %}
        <div>
            <h2>Key Features</h2>
            <ul>
                {% for feature in equipment['features'] %}
                    <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if equipment['applications'] %}
        <div>
            <h2>Key Applications</h2>
            <ul>
                {% for application in equipment['applications'] %}
                    <li>{{ application }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if equipment['documentation'] %}
        <div>
        <h2>Documentation</h2>
            <a href="{{ equipment['documentation'] }}">
                {{ equipment['name'] }}
            </a>
        </div>
        {% endif %}

        <div>
            <h2>Campus</h2>{{ campus }}
        </div>

        <div>
            <h2>Location</h2>{{ equipment['location'] }}
        </div>

        <div>
            <h2>Contact</h2>
            <ul style="list-style-type: none;">
                <li>{{ equipment['contact']['name'] }}</li>
                <li>{{ equipment['contact']['title'] }}</li>
                {% if equipment['contact']['email'] %}
                    <li>{{ equipment['contact']['email']}}</li>
                {% endif %}
                {% if equipment['contact']['tel'] %}
                    <li>{{ equipment['contact']['tel']}}</li>
                {% endif %}
            </ul>
        </div>

        <div>
            <h2>Category</h2>
            {{ category }}
        </div>

        {% if equipment['fee'] %}
            <div><h2>Fee</h2>{{ equipment['fee'] }}</div>
        {% endif %}
        
        {% if equipment['contact'] %}
        <div>
            <h3>Question or suggestion about this equipment?</h3>
            <a href="{{ equipment['contact']['email_link'] }}">Click here to email the equipment's manager</a>
        </div>
        {% endif %}
        
    </div>



    <div class="details-rrow details-container">

        {% if equipment['images'] %}
        <div class="details-img">
            <div id="details-img-controls">
                <button class="details-img-control details-img-control-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="details-img-control details-img-control-right" onclick="plusDivs(+1)">&#10095;</button>
            </div>
            {% for image in equipment['images'] %}
            <img src="{{ image }}"
                 class="details-img-slide"
                 alt="{{ equipment['name'] }}">
            {% endfor %}
        </div>
        {% endif %}

        <div class="details-map">
            <iframe
                width="400"
                height="400"
                style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_MAP_API_KEY}}&q={{ cleaned_location }}">
            </iframe>
        </div>


    </div>


    <div class="help-feedback">
        <a id="help" href='mailto:zqiu@uchicago.edu?subject=PME Equipment Database Feedback'>Feedback</a>
        <a id="feedback" href='/help#help-equipments'>Help</a>
    </div>




</div>
{% endblock %}




