{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

<p><a href="{{ url_for('edit.edit') }}"></a></p>

{% block content %}
<form method="post">
    <label for="search_box">Search</label>
    <input name="keywords" id="search_box" required>
    <input type="submit" value="Search">
</form>

<section>
    {% for result in results %}
    <div>
        <ul>
            <li><a href="#">{{ result['id'] }}</a></li>

        </ul>
    </div>
    {% endfor %}


</section>
{% endblock %}