{% extends 'base.html' %}

{% block header %}Search{% endblock %}

{% block content %}

<section class="top">
    <div class=" top top-logo__wrapper">
        <img class="top-logo" src="{{ url_for('static', filename='assets/logo_full.png') }}" alt="Logo">
    </div>

    <div class="top top-search__wrapper">
        <label for="top-searchBox" hidden>Search Box</label>
    <input type="text" class="top-searchBox" id="top-searchBox" />
    <button class="top-searchButton top-button" id="top-searchButton">Search</button>
    </div>

</section>


<!--------------- dropdown --------------->

{% for cat in cats %}
<section class="catDropdown" id="cat{{loop.index}}Dropdown">
    {% if cat.description %}
    <p class="catDropdown__description">{{ cat.description }}</p>
    {% endif %}
    <div class="catDropdown__bwrapper">
        {% for k, bucket in cat.buckets.items() %}
        <div class="catDropdown__bucket">
            <p class="catDropdown__text">{{ bucket.name }}</p>
            {% for choice in bucket.choices %}
            <input type="radio" class="catDropdown__item js__catSelectionItem"
                   id="{{ cat.name }}:{{ bucket.name }}-{{ choice }}">{{ choice }}<br>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endfor %}


<section class="sidebar">

    <div class="sidebar-catNav__wrapper">
        {% for cat in cats %}
        <div class="sidebar-catNav__cat" id="cat{{loop.index}}">
            <p class="sidebar-catNav__text">{{ cat.name }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="sidebar-refine__wrapper ">

    </div>

</section>

<section class="result">
</section>

<section class="footer">
    <div class="footer-placeholder">Footer</div>
</section>
<script src="{{ url_for('static', filename='search.js') }}"></script>

{% endblock %}