{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}

{% block content %}
<p><a href="{{ url_for('edit.new') }}">New</a></p>

<form method="post">
    <label for="search_box">Search</label>
    <input name="keywords" id="search_box" required>
    <input type="submit" id="searchSubmit" value="Search">
</form>

<section>
    {% if results %}
    {% for result in results %}
    <div>
        <ul>
            <li><a href="{{ url_for('search.document', obj_id=result['id']) }}">{{ result['name'] }}</a></li>
            {% for data in result['data'] %}
            <li>{{ data[0] }} : {{ data[1] }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% else %}
    <div>No result found</div>
    {% endif %}


</section>
{% endblock %}