{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/details.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}


{% block header %}{{ user['name'] }}{% endblock %}

{% block content %}


<div class="details">

    <div id="backButton">
        <a href="javascript:history.back()">
            <img src="{{ url_for('static', filename='assets/back_icon.png') }}"
             style="width: 40px"
             alt="Back Button">
        </a>
    </div>

    <div class="details-lrow details-container">
        <div><h1>{{ user['name'] }}</h1></div>
        <div><h2>Email: </h2> <a href="mailto: {{ user['email']}}">{{ user['email']}}</a></div>
        <div><h2>Title: </h2> {{ user['title']}}</div>
        <div><h2>Affiliation: </h2> {{ user['affiliation']}}</div>
    </div>

    <div class="details-rrow details-container">
        <img src="{{ url_for('static', filename='assets/user_default.png') }}" width="250px">
    </div>


    <div class="details-full details-container">
        <p><h2>Managed Equipments: </h2></p>
        <ul class="user-equipment">
            {% if equipments %}
            {% for equipment in equipments %}
            <li>
                <a href="/equipment/{{ equipment['id'] }}">{{ equipment['name'] }}</a>
                {% if is_manager %}
                <div>
                    <button onclick="location.href='/equipment/edit/{{ equipment.id }}';">Edit</button>
                    <button onclick="location.href='/equipment/delete/{{ equipment.id }}';">Delete</button>
                </div>
                {% endif %}
            </li>
            {% endfor %}
            {% else %}
            No equipment currently under management.
            {% endif %}
            
            {% if is_manager %}
            <li><button onclick="location.href='/equipment/edit/new';">New</button></li>
            {% endif %}
        </ul>
    </div>



</div>

<div class="help-feedback">
    <a id="help" href='mailto:zqiu@uchicago.edu?subject=PME Equipment Database Feedback'>Feedback</a>
    <a id="feedback" href='/help#help-user'>Help</a>
</div>


{% endblock %}
