/* details.css */

.details {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
}

.details-ul {
    list-style-type: circle;
}

.details-backButton {
    position: relative;
    left: -80px;
    top: 25px;
    height: 0;
}

.details-name {
    width: 100%;
}

.details-overview {
    width: 100%;
}

.details-lrow {
    width: 60%;
}

.details-rrow {
    width: 40%;
}

.details-block {
    margin: 20px;
}

.details-img__wrapper {
    text-align: center;
    height: 350px;
}

.details-img__img {
    width: 350px;
    max-height: 350px;
}


