/* ============== dropdown ============== */
.catDropdown {
    position: absolute;
    top: 150px;
    left: 250px;
    min-height: 450px;
    display: none;
    border: 1px solid var(--border-color);
    border-left: 0;
    background: white;
    line-height: 1.5em;
}

.catDropdown__buckets{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 80%;
}

.catDropdown__description {
    width: 20%;
    height: 100%;
    margin: 20px;
}

.catDropdown__buckets div {
    margin: 20px;
    width: 250px;
}

.catDropdown__buckets p {
    margin: 10px 20px 10px 0;
    font-size: 1.2em;
    border-bottom: 1px solid var(--border-color);
}


.catDropdown__buckets input {
    margin-right: 10px;
}
