input, textarea{
    border: 0;
    border-bottom: 1px solid var(--border-color);
    width: 90%;
    margin: 9px 5px 1px 5px;
    font-size: 100%;
    font-family: 'ProximaNova-Regular','HelveticaNeue','Helvetica Neue','HelveticaNeueRoman','HelveticaNeue-Roman','Helvetica Neue Roman','TeXGyreHerosRegular','Helvetica','Tahoma','Geneva','Arial',sans-serif;
}

input:focus, textarea:focus, select:focus {
    border-bottom: 2px solid black;
    outline-width: 0;
    margin-bottom: 0 !important; 
}

.details ul {
    list-style-type: none;
}

.details li {
    height: 33px;    
}

.edit-block {
    width: 100%;
    margin: 20px 10px;
}

.edit-remove-li, .edit-add-li {
    background-color: transparent;
    border: 0;
    font-size: 120%;
    height: 25px;
    width: 25px;
    margin: 10px;
}

#edit-overview textarea {
    width: 100%;
    height: 60px;
    resize: vertical;
}


#edit-images div {display: flex;}
.edit-images-item {
    margin: 10px; 
    min-height: 200px;
    position: relative;
}
.edit-images-item div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    font-size: 20px;
    opacity: 0;
}
.edit-images-item img {
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}
.edit-images-item div img{
    height: 80px;
    width: 80px;
    margin: auto;
    opacity: 0.5;
    z-index: 10;
}
.edit-images-item div:hover{opacity: 0.7;}



#edit-contact li {
    display: flex;
}

#edit-contact p {
    width: 60px;
    margin: 9px 5px 1px 5px;
}

#edit-contact input {
    width: calc(100% - 61px);
}

#edit-category input, #edit-campus input {
    width: 25%;
    background-color: transparent;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
}

#edit-category ul { /* dropdown suggestion*/
    /* display: none; */
    border: 2px solid var(--border-color);
    margin-top: -2px;
    width: 25%;
    max-height: 400px;
    padding-left: 0;
    background-color: white;
}

#edit-category li {
    height: 2em;
    padding-left: 20px;
    line-height: 2em;
}
#edit-category li:hover {background-color: var(--border-color);}

#edit-location {
    display: flex;
    align-items: center;
}

#edit-location-input {
    width: 33%;
    margin: 0 10px 1px 10px;
}

#edit-location-api {
    width: 400px;
    height: 200px;
    border: 0; 
    margin: 10px;
}

#edit-submit {
    width: 110px;
    height: 40px;
    margin-left: calc(50% - 55px);
}



