/* ============== NavBar ============== */
.navbar {
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 1.1em;
    justify-content: space-between;
}

.nav-left {
    /* display: flex;
    align-items: center; */
    width: 66%;
    border-top: #800000 solid 15px;
}

.nav-mid {
    width: 33%;
    border-top: #1083AE solid 25px;
    transform: skew(40deg);
}
/* 
.nav-left span {
    width: 100px;
}

.nav-left img {
    height: 40px;
    width: 40px;
    margin: 0 10px;
} */

.nav-right {
    background-color: rgb(120, 120, 120);
    display: flex; 
    align-items: center;
    width: 400px;
    justify-content: space-between;
    flex-shrink: 0;
}

/* the first span - slanted shape */
/* the second span is just a padding for the flexbox */
.nav-right :first-child {
    width: 40px;
    height: 40px;
    position: relative;
    right: 20px;
    transform: skew(40deg);
    background-color: rgb(120, 120, 120);
    flex-shrink: 0;
}

.nav-right div {
    width: fit-content;
    margin: 0 15px;
    cursor: pointer;
}



.navbar a {
    color: white;
}

.navbar a:hover {
    color: #E8E8E8;
}