/* ============== NavBar ============== */
.navbar {
    position: absolute;
    height: 40px;
    width: 30%;
    margin-left: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(120, 120, 120);
}

.navbar span {
    position: absolute;
    right: 95%;
    width: 80px;
    height: 40px;
    transform: skew(40deg);
    background-color: rgb(120, 120, 120);
}

.navbar div {
    width: fit-content;
    margin: 0 20px;
    cursor: pointer;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #E8E8E8;
}