/* ============== Overlay ============== */

.overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.4);
}

.overlay-detail {
    max-width: 300px;
    /* max-height: 500px; */
    background: #ffffff;
    opacity: 100%;
    margin: 80px auto;
    border-radius: 10px;
}

.overlay-detail form {
    padding: 20px;
}

.overlay-detail div {
    width: calc(100%-40px);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.overlay-detail label {
    width: 100%;
    height: 26px;
    font-size: 100%;
}



.overlay-detail input {
    width: 100%;
    height: 26px;
    padding-left: 5px;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 0.8em;
}

.overlay-detail button {
    height: 40px;
    width: 80px;
    margin: auto;
}

.overlay-detail p {
    width: 100%;
    font-size: 0.7em;
    margin-top: 2px;
}

#cancel-btn {
    width: 30px;
    height: 30px;
    margin-right: -20px;
    margin-top: -20px;
    background-color: transparent;
    border: 0px;
    font-size: 120%;
    color: grey;
}

#login-fail {
    display: none;
    color: tomato;
    margin-bottom: 2px;
}
