/* ============== sidebar ============== */

.sidebar {
    width: 249px;
    /* min-height: 650px; */
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: var(--main-bg-color);
    border-right: 1px solid var(--border-color);
}

.sidebar-catNav {
    height: 250px;
    display: flex;
    flex-wrap: wrap;
}

/* The "Search by category" text */
.sidebar-catNav h2 { 
    height: 20px;
    margin: 20px 30px; 
    font-size: 1.1em;
    font-weight: normal;
}

.sidebar-catNav p {
    margin: auto 40px;
    cursor: default;
}

.sidebar-catNav__cat {
    width: 100%;
    height: 50px;
    display: flex;
    /* background: #E8E8E8; */
    background: var(--main-bg-color);
}

.sidebar-catNav__cat--hover {
    /* background: #E8E8E8; */
    background: white;
}

.sidebar-catNav__text {
    margin: auto;
}


.sidebar-refine__wrapper {
    max-height: 1200px;
    min-width: 180px;
    margin: 10px 20px;
}


.sidebar-refine-cat {
    margin: 15px 0;
}

.sidebar-refine-cat__text {
    font-weight: 600;
}

.sidebar-refine-bucket {
    margin: 5px 0;
}

.sidebar-refine-item {
    width: 150px;
    margin: 5px 0;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 2px;
    font-size: small;
    display: flex;
}

.sidebar-refine-item:hover {
    background: lightgray;
}

.sidebar-refine-item__text {
    width: 140px;
}

.sidebar-refine-item__x {
    margin: auto;
}


@media only screen and (max-width: 992px) {

}
