/* ================ Top ================ */

.top {
    width: 100%;
    height: 150px;
    display: flex;
    background: var(--main-bg-color);
    border-bottom: 1px solid var(--border-color);
}

.top-logo {max-width: 400px;}
.top-logo a {margin: 20px;}
.top-logo img {
    max-width: 400px;
    max-height: 120px;
}

.top-searchBox {
    height: 28px;
    max-width: 600px;
    min-width: 290px;
    margin: 60px 0 auto 50px;
    border: 1px solid var(--border-color);
    border-radius: 7px 0 0 7px;
    flex-grow: 1;
    font-size: 1em;
    padding: 10px 0 10px 10px;
}

.top-searchButton {
    height: 50px;
    width: 90px;
    margin: 60px auto auto 0;
    border: 1px solid var(--border-color);
    border-left-width: 0;
    border-radius: 0 7px 7px 0;
    font-size: 1em;
}



.top-button:active {
    background-color: lightgray;
}

.top-button:focus {outline: 0;}

span.top {
    min-width: 200px;
    max-width: 500px;
}